asn1crypto>=0.24.0
bitstring>=3.1.9
cffi>=1.11.5
Click>=7.0
cryptography>=2.4.2
ecdsa>=0.17.0
esptool>=3.1
idna>=2.8
Pillow>=6.2.1
pycparser>=2.19
pyOpenSSL>=18.0.0
pyserial>=3.4
reedsolo>=1.5.4
six>=1.12.0
